<%= form_with(model: disciplina, local: true) do |form| %>
  <% if disciplina.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(disciplina.errors.count, "error") %> prohibited this disciplina from being saved:</h2>

      <ul>
      <% disciplina.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
  </div>

  <div class="field">
  <%= form.label "Obrigatória" %>
  <%= form.check_box :obrigatoria %>
</div>

  <div class="field">
  <%= form.label "Categoria Geral" %>
  <%= form.collection_select :categoria_geral_id, @cat_geral,:id,:tipo, include_blank: true %>
  </div>

  <div class="field">
  <%= form.label "Categoria Específica" %>
  <%= form.collection_select :categoria_especifica_id, @cat_espec,:id,:tipo, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :ch %>
    <%= form.number_field :ch %>
  </div>

  <div class="field">
    <%= form.label :ementa %>
    <%= form.text_area :ementa %>
  </div>

  <div class="field">
    <%= form.label :bib_basica %>
    <%= form.text_area :bib_basica %>
  </div>

  <div class="field">
    <%= form.label :bib_complementar %>
    <%= form.text_area :bib_complementar %>
  </div>
  
  <%= form.hidden_field :usuario_id, :value=> 2 %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<ul>
<% @cat_geral.each do |cat| %>
  <li><%= cat.tipo %></li>  
<% end %>
</ul>