<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @disciplina.titulo %>
</p>

<p>
  <strong>Ch:</strong>
  <%= @disciplina.ch %>
</p>

<p>
  <strong>Ementa:</strong>
  <ul>
    <% @disciplina.ementa.split(". ").each do |item| %>
      <li><%= item %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Bibliografia Básica:</strong>
  <ul>
  <% @disciplina.bib_basica.split("\n").each do |item| %>
    <li><%= item %></li>
  <% end %>
  </ul>
</p>

<p>
  <strong>Bibliografia Complementar:</strong>
  <ul>
  <% @disciplina.bib_complementar.split("\n").each do |item| %>
    <li><%= item %></li>
  <% end %>
  </ul>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @disciplina.usuario.name %>
</p>

<%= link_to 'Edit', edit_disciplina_path(@disciplina) %> |
<%= link_to 'Back', disciplinas_path %>
